* {
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.PlayArea {
    border: 2px solid rgb(0, 0, 0);
    height: 50vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ATTACK_CARD {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ATTACK_CARD > .DEFEND{
    position: relative;
    top: -20%;
    left: 25%;
}

.Card {
    aspect-ratio: 2/3;
    object-fit: contain;
    height: 100%;
}

.PlayArea > .ATTACK_CARD > .Card, .PlayArea > .sortable-ghost {
    height: 168px;
}

.Player1HandContainer, .Player2HandContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Player1Hand, .Player2Hand {
    display: flex;
    
}

#Player1EndTurn, #Player2EndTurn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.Player1Hand > .Card, .Player2Hand > .Card {
    max-width: 112px;
    cursor: grab;
}

.Card.sortable-drag {
    cursor: grabbing;
}

.hidden {
    display: none;
}

#devlog {
    margin: 20px;
}